body{
    background-color: #d1ffb3;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 28px;
}
h1{
    font-size: 44px;
}
.gumbic{
    border: 1px solid forestgreen;
    border-radius: 12px;
    background-color: palegreen;
    padding: 6px;
    margin-bottom: 24px;
    transition: 0.25s;
}
.boja:hover{
    background-color: limegreen;
}
.opacitet:hover{
    opacity: 0.39;
}
.micanje:hover{
    transform: translateY(8px);
}
.velicina:hover{
    transform: scale(1.05);
}
.kombo:hover{
    background-color: yellowgreen;
    opacity: 0.39;
    transform: scale(1.05);
}