body{
    background-color: aqua;
    padding: 20px
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
.kartica{
    background-color: linen;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.font{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}